@import "tailwindcss";

@font-face {
  font-family: Figtree;
  src: url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap");
}

html,
body,
:root {
  /* font-family: "Figtree", "sans-serif"; */
  background-color: black;
  color-scheme: dark;
  /* height: 100vh; */
}
